//Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap")
    //Variables
  $primariColor: #e67e22 $secondaryColor: #25ccf7 $tertiaryColor: #e74c3c
    $fourthyColor: rgb(255, 255, 255) $textColor: #393c43 //Style
  body font-family: "Montserrat",
  sans-serif background-image: url(../img/bg1.png) background-position: top
    right background-repeat: no-repeat background-size: 80vmax opacity: 0.9
    position: absolute top: 0 left: 0 bottom: 0 right: 0 //Navbar
  .custom-nav .navbar-brand img width: 100px height: 70px margin-left: 10px
    transition: width 0.5s,
  height 0.5s,
  transform 0.5s img: hover // width: 110px;
  // height: 80px;
  transform: scaleY(1.5) scaleX(1.5) #navbarNav .navbar-nav .nav-item .nav-link
    color: $fourthyColor font-weight: 500 // text-transform: uppercase;
  margin-left: 2.5em text-shadow: rgba(0, 0, 0, 0.5) transition: 0.5s: hover &
    color: $secondaryColor border: 1px solid $secondaryColor border-radius: 2em
    background-color: transparent .sign-up-button background-color:
    $tertiaryColor color: white border-radius: 2em border: 0 padding-left: 1em
    padding-right: 1em: hover & color: $fourthyColor background-color:
    $secondaryColor @media screen and (max-width: 992px) margin-top: -1em //custom section
  .custom-section margin-top: 10em margin-bottom: 10em h2 font-weight: 700 font-size:
    3.5rem color: $tertiaryColor white-space: nowrap line-height: 1 // h2 .span {
  //   font-weight: 700;
  //   font-size: 4rem;
  //   border: 1px;
  //   white-space: nowrap;
  //   border-radius: 2em;
  // }
  h3 font-weight: 400 font-size: 2rem color: $textColor white-space: nowrap line-height:
    1 p color: $textColor font-size: 1.2rem margin-top: 1.5em a margin-top: 2em display:
    inline-block color: white background-color: $tertiaryColor border-radius: 2em
    padding: 0.5em 2em text-decoration: none transition: 0.5s a: hover color: $tertiaryColor
    border: 1px solid $tertiaryColor background-color: transparent section width:
    100% min-height: 100px padding: 10px 0px display: flex justify-content: center
    align-items: center .section1 background: rgba(63, 81, 181, 0.9) url(/img/bgwork.jpg)
    no-repeat background-size: cover background-position: center background-blend-mode:
    overlay align-items: center .section2 img,
  .section3 img, .section4 img,
  .section5 img max-height: 400px border-radius: 0.5em h1 color: #fff font-size:
    90px h2 font-size: 38px margin-bottom: 20px p line-height: 30px hr height:
    3px background-color: blue border: none width: 100% margin-bottom: 25px
    .custom-aos a margin-top: 2em display: inline-block color: white
    background-color: $tertiaryColor border-radius: 2em padding: 0.5em 2em
    text-decoration: none transition: 0.5s //   .custom-aos a:hover {
  //     color: $tertiaryColor;
  //     border: 1px solid $tertiaryColor;
  //     background-color: transparent;
  //   }
  // }
  .section2,
  .section3, .section4,
  .section5 background-color: #dfdfdf .footer position: relative left: 0 bottom:
    0 width: 100% color: white background-color: $tertiaryColor text-align:
    center;
