body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.parallax-container {
  height: 50vh;
}

.container .card img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.container span {
  text-align: center;
}
